$redGrad : linear-gradient(180deg,#f44881,#ec454f);
$greenGrad : linear-gradient(180deg,darken(#6edcc4 , 2),darken(#1aab8b , 2));
$black : #4d545d;
$fontFamily : 'Open Sans', sans-serif;
$red : #f44881;
$blue : #2779BD;
$blueBg : linear-gradient(90deg , lighten($blue , 5) ,$blue);
$purpleBg :linear-gradient(180deg,#8b60ed,#b372bd); 
$home : #4d546d;